<?php
$configOptions = array(

    'group1' => array(
        //
        // Simple Options
        //
        // Key will be converted to a label automatically
        //
        'simpleOption'    => true,
        'or-use-dashes'   => false,
        'use_underscores' => true,
        'simpleText'      => 'Some text',
        'simpleSelect'    => array('Foo', 'Bar', 'Dev', 'Null'),
    ),

    'group2' => array(
        //
        // Complex Options examples
        //
        'radioOption' => array(
            'label'         => 'Radio Option',
            'default_value' => false,
        ),

        'selectOption' => array(
            'label'         => 'Select Option',
            'input_type'    => 'select',
            'value_options' => array(
                'spring' => 'Spring',
                'summer' => 'Summer',
                'fall'   => 'Fall',
                'Winter' => 'winter'
            ),
            'default_value' => 'summer',
        ),
    ),

    'group3' => array(
        //
        // Complex Options examples
        //
        'multiCheckboxOption' => array(
            'input_type'    => 'multicheckbox',
            'label'         => 'MultiCheckbox Option',
            'value_options' => array(
                'foo'  => 'Foo',
                'bar'  => 'Bar',
                'dev'  => 'Dev',
                'null' => 'Null',
            ),
            'default_value' => array('foo', 'bar'),
        ),

        'textOption' => array(
            'input_type'    => 'text',
            'label'         => 'Text Option',
            'default_value' => 'My Site',
        ),
    ),
);

$configGroups = array(
    'group1' => 'Settings Group 1',
    'group2' => 'Settings Group 2',
    'group3' => 'Settings Group 3',
);

$settings = array(
    'cache_dir'      => dirname(dirname(__DIR__)) . '/data/cache',
    'config_options' => $configOptions,
    'config_groups'  => $configGroups,
);

return array(
    'cgmconfigadmin' => $settings,
);